.custom-button {
  background-color: black;
  color: white;
  border: 1px solid currentColor;
  height: 5rem;
  padding: 0 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;

  
  &:hover {
    color: black;
    background-color: white;
  }

  &--google {
    background-color: #4285f4;

    &:hover {
      background-color: #357ae8;
      color: #fff;
    }
  }
}