.custom-button {
  min-width: 16.5rem;
//   width: auto;
  background-color: black;
  color: white;
  border: 1px solid currentColor;
  height: 5rem;
  padding: 0 3.5;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: white;
  }
}