.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  font-size: 1.6rem;

  &__title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    align-items: center;
  }

  &__button {
    width: 7rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    background: transparent;
    border: none;
    color: gray;
    border-bottom: 1px solid currentColor;
    padding: .5rem 0;
    cursor: pointer;
    transition: all .2s;
    outline: none;
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}