.sign-in {
  width: 38rem;
  display: flex;
  flex-direction: column;

  &__subtitle {
    margin-top: 1rem;
    margin-bottom: -1rem;
  }

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}