.header {
  font-size: 1.6rem;
  background-color: #fff;
  height: 7rem;
  width: calc(100% + 6rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -3rem;
  margin-bottom: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 10;

  &__logo-container {
    box-sizing: content-box;
    height: 100%;
    width: 7rem;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__options {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  &__link {
    padding: 1rem 1.5rem;
    font-size: 2rem;
    cursor: pointer;
  }
}