@mixin label {
  color: gray;
  top: -1.4rem;
  font-size: 1.2rem;
}

.form-input {
  margin: 4.2rem 0;
  position: relative;

  &__input {
    width: 100%;
    background-color: white;
    color: gray;
    border: none;
    border-bottom: 1px solid currentColor;
    font-size: 1.8rem;
    padding: .5rem;
    outline: none;

    &:focus ~ label {
      @include label()
    }
  }

  input[type='password'] {
    letter-spacing: 0.2rem;
  }

  &__label {
    position: absolute;
    left: .5rem;
    top: .6rem;
    color: black;
    font-size: 1.6rem;
    pointer-events: none;
    transition: all ease .3s;

    &--focus {
      @include label()
    }
  }
}